.add-product-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.2);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
        outline-color: #007bff;
    }
}